.App {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif
  
}

.App-header {
  background-color: #3f588a;
  background: url(weather.jpeg) repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

h1 {
  margin-bottom: 20px;
  color: rgb(149, 208, 224);
  
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: rgb(149, 208, 224);
  color: black;
  border: none;
  cursor: pointer;
}

.weather-info {
  display: flex;
  
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 17px;
}



.weather-box,
.forecast-box {
  border: 4px solid rgb(20, 30, 75);
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  
  
}

.forecast-box {
  flex: 1;
  max-width: 200px;
}
